html,
body,
#root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  /* margin: auto;
  max-width: 38rem;
  padding: 2rem; */
  background-color: rgb(
    10 10 10 / 0.5
  ); /* TODO: consider setting this within the window's backgroundColor */
  color: rgb(230 230 230);
}

#root {
  display: flex;
  flex-direction: column;
}

.dragRegion {
  /* height: 38px; */
  /* height: 42px; */
  flex: 0 0 42px; /* flex-shrink needs to be 0, or else it shrinks */
  /* background-color: blue; */
  -webkit-app-region: drag;
  /* background-color: rgb(0 0 0 / 0.1); */
  /* background-color: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0.1),
    80%,
    transparent
  ); */
  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0.1),
    37px,
    transparent
  );
}

.noteContent {
  /* flex-grow: 1; */
  outline: none;
  padding: 15px 20px;
  /* background-color: blue; */
  overflow-y: auto;
  /* scrollbar-color: gray transparent; */
  scrollbar-color: rgb(100 100 100) transparent;
  scrollbar-width: thin;
}

/* ::-webkit-scrollbar {
  background: rgb(0 0 255);
  width: 20px;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 255);
  scrollbar-color: blue transparent;
} */

.noteContent * {
  margin: 0;
}

.noteContent p {
  margin: 3px 0;
  display: flow-root;
  /* display: inline-block; */
}

/* .noteContent p.section {
  display: block;
} */
