html,
body,
#root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  /* margin: auto;
  max-width: 38rem;
  padding: 2rem; */
  background-color: rgb(
    10 10 10 / 0.5
  ); /* TODO: consider setting this within the window's backgroundColor */
  color: rgb(230 230 230);
}

#root {
  display: flex;
  flex-direction: column;
}

.dragRegion {
  /* height: 38px; */
  /* height: 42px; */
  flex: 0 0 42px; /* flex-shrink needs to be 0, or else it shrinks */
  /* background-color: blue; */
  -webkit-app-region: drag;
  /* background-color: rgb(0 0 0 / 0.1); */
  /* background-color: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0.1),
    80%,
    transparent
  ); */
  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0.1),
    37px,
    transparent
  );
}

.noteContent {
  /* flex-grow: 1; */
  /* outline: none; */
  /* padding: 15px 20px; */
  /* background-color: blue; */
  overflow-y: auto;
  /* scrollbar-color: gray transparent; */
  scrollbar-color: rgb(100 100 100) transparent;
  scrollbar-width: thin;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* ::-webkit-scrollbar {
  background: rgb(0 0 255);
  width: 20px;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 255);
  scrollbar-color: blue transparent;
} */

/* .noteContent * {
  margin: 0;
}

.noteContent p {
  margin: 3px 0;
  display: flow-root;
  * display: inline-block; *
}

.noteContent p::after {
  * ensure all the empty paragraphs still have minimum height *
  content: "\00a0";
} */

/* .noteContent p.section {
  display: block;
} */

.block {
  position: relative;
  display: flex;
  animation: blockGrowIn 0.1s;
}

.blockMarker {
  position: absolute;
  width: 24px;
  height: calc(100% - 15px);
  top: 50%;
  left: 0;
  /* background-color: red; */
  transform: translateY(-50%);
  z-index: 3;
  /* background-color: rgb(255 0 0 / 0.5); */
  animation: blockMarkerSlideIn 0.2s ease-out;
}

.blockMarkerInner {
  position: absolute;
  background-color: rgb(211 211 211);
  /* background: linear-gradient(
    to bottom,
    transparent,
    rgb(211 211 211 / 0.3) 5px,
    rgb(211 211 211 / 0.3) calc(100% - 5px),
    transparent
  ); */
  box-shadow: 0 0 4px 1px rgb(211 211 211);
  /* height: calc(100% - 15px); */
  height: 100%;
  /* width: 3px; */
  width: 100%;
  /* border-radius: 1px; */
  /* border-radius: 0 3px 3px 0; */
  border-radius: 3px;

  cursor: pointer;

  transition: opacity 0.1s, transform 0.1s;

  opacity: 0.3;

  /* top: 50%;
  left: 0px;
  transform: translateY(-50%); */
}

.block.focus .blockMarkerInner,
.blockMarker.moving .blockMarkerInner {
  opacity: 1;
}

.blockMarker.moving {
  position: fixed;
  z-index: 100;
}

/* .blockMarker.moving::before { */
/* content: ""; */
.blockMarkerOverlay {
  position: fixed;
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.blockMarker:not(:hover) .blockMarkerInner {
  transform: translateX(calc(-100% + 4px));
}

.block.focus .blockMarker:not(:hover) .blockMarkerInner {
  transform: translateX(calc(-100% + 8px));
}

.blockMarker:hover .blockMarkerInner {
  /* background-color: red; */
  transform: translateX(calc(-100% + 12px));
}

.blockMarker.moving .blockMarkerInner {
  transform: translateX(0);
}

.blockEditable {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
}

.blockEditable:focus {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(0 0 0 / 0.1) 10px,
    rgb(0 0 0 / 0.1) calc(100% - 10px),
    transparent
  );
}

.blockAddContainer:first-of-type {
  position: relative;
  top: 10px;
}

.blockAddRegion {
  position: absolute;
  z-index: 1;
  /* background-color: blue; */
  height: 30px;
  width: 100%;
  transform: translateY(-50%);
}

.blockAddRegion,
.blockAdd {
  cursor: pointer;
}

/* .blockAddRegion:hover + .blockAdd,
.blockAdd:hover {
  opacity: 0.5;
} */

.blockAddRegion:hover + .blockAdd .blockAddInner:not(:hover),
.blockAddRegion:hover + .blockAdd::before,
.blockAddRegion:hover + .blockAdd::after,
.blockAdd:hover .blockAddInner:not(:hover),
.blockAdd:hover::before,
.blockAdd:hover::after {
  opacity: 0.5;
}

.blockAdd {
  /* position: absolute; */
  position: relative;
  flex-shrink: 0;
  height: 0px;
  overflow: visible;
  /* opacity: 0; */
  transition: opacity 0.1s;
  z-index: 2;
  /* left: 50%; */
  /* width: 100%; */
  /* transform: translate(-50%, -50%); */
  /* background-color: white; */
}

/* .blockAdd:hover {
  opacity: 0.5;
} */

.blockAdd::before {
  content: "";
  position: absolute;
  background-color: lightgray;
  height: 2px;
  width: 45%;
  left: 25%;
  top: 50%;
  transform: translateX(-50%);
  border-radius: 1px;
  opacity: 0;
  transition: opacity 0.1s;
  /* flex-shrink: 0; */
}

.blockAdd::after {
  content: "";
  position: absolute;
  background-color: lightgray;
  height: 2px;
  width: 45%;
  right: 25%;
  top: 50%;
  transform: translateX(50%);
  border-radius: 1px;
  opacity: 0;
  transition: opacity 0.1s;
  /* flex-shrink: 0; */
}

.blockAddInner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  opacity: 0;
  transition: opacity 0.1s, background-color 0.1s;
  /* position: relative; */
}

.blockAddInner:hover {
  background-color: rgb(221, 221, 221);
  opacity: 1;
}

/* .blockAddInner:hover {
  background-color: rgb(221, 221, 221);
} */

.blockAddInner::before {
  content: "";
  position: absolute;
  background-color: rgb(64 64 64);
  height: 60%;
  width: 2px;
  left: 50%;
  top: 50%;
  border-radius: 1px;
  transform: translate(-50%, -50%);
}

.blockAddInner::after {
  content: "";
  position: absolute;
  background-color: rgb(64 64 64);
  width: 60%;
  height: 2px;
  left: 50%;
  top: 50%;
  border-radius: 1px;
  transform: translate(-50%, -50%);
}

@keyframes blockGrowIn {
  from {
    max-height: 0;
    /* overflow: hidden; */
  }

  to {
    max-height: 60px;
    /* overflow: hidden; */
  }
}

@keyframes blockMarkerSlideIn {
  from {
    left: -10px;
  }

  to {
    left: 0;
  }
}
